button {
  border: none;
  outline: none;
  font-weight: 600;
  color: #333;
}

.log-in {
  font-weight: 600;
  color: #333;
  background-color: transparent;
  font-size: calc(var(--vw) * 1vw);
}

.sign-up {
  background-color: #0d0c22;
  color: #fff;
  font-size: calc(var(--vw) * 1.2vw);
  padding: calc(var(--vw) * 0.9vw) calc(var(--vw) * 1.4vw);
  border-radius: 50px;
}

.btn-style-1 {
  background-color: #0d0c22;
  color: #fff;
  font-size: calc(var(--vw) * 1.2vw);
  padding: calc(var(--vw) * 0.9vw) calc(var(--vw) * 1.4vw);
  /* padding: 1.2rem 1.6rem; */

  border-radius: 50px;
}

.btn-style-2 {
  background-color: #fff;
  color: #000;
  font-size: calc(var(--vw) * 1.2vw);
  padding: calc(var(--vw) * 0.9vw) calc(var(--vw) * 1.4vw);
  /* padding: 1.2rem 1.6rem; */

  border-radius: 50px;
}

/* media */

@media (max-width: 400px) {
  .sign-up {
    padding: calc(var(--vw) * 1.2vw) calc(var(--vw) * 1.9vw);
    border-radius: 100px;
  }
}
